@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

nav{
    background-color: white;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

nav li{
    display: inline-block;
    margin: 0 8px;
}

nav a{
    text-decoration: none;
    color: black;
    transition: all 150ms ease-in 0s;
}

nav a:hover{
    color: grey;
}

.menu-line{
    height: 2px;
    width: 20px;
    background-color: black;
    margin-bottom: 3px;
}

.menu{
    display: none;
    cursor: pointer;
}

.img1{
    position: relative;
}

.img1 .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: transparent;
    color: white;
    border: 0.1px solid white;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease-in 0s;
}

.img1 .btn:hover{
    background-color: white;
    color: black;
}

@media all and (max-width:600px){
    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0px;
        display: none;
    }

    .logo img{
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }

    .menu{
        display: block;
        position: absolute;
        right:20px;
        top:15px
    }

    .showmenu{
        display: block;
    }
}

.logo img{
    height: 25px;
    margin-right: 20px;
}

.image-cont {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: trans 1.2s;
}

.col {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@keyframes trans{
    from{
        opacity: 0;
        transform: translateY(40px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.footer{
    background-color: white;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding-bottom: 20px;
    text-align: center;
}

.footer img{
    height: 15px;
}